{% extends 'base.html' %} {% block head %}
<title>lab8/update-password.html</title>
{% endblock head %} {% block body %}
<div class="content">
	{% with messages = get_flashed_messages() %} {% if messages %} {% for msg in
	messages %}
	<p>{{msg}}</p>
	{% endfor %} {% endif %} {% endwith %}
	<h1>Password-Updater</h1>
	<div class="container">
		<form action="{{ url_for('update_pass') }}" method="post">
			<label for="email">Email: </label>
			<input
				type="email"
				placeholder="example@example.com"
				value="{{ request.form['email'] }}"
				id="email"
				name="email"
			/>

			<label for="password">Current Password: </label>
			<input
				type="password"
				placeholder="Password"
				value="{{ request.form['password'] }}"
				id="password"
				name="password"
			/>
			<br />

			<label for="new-password">New Password: </label>
			<input
				type="password"
				placeholder="New Password"
				value="{{ request.form['new-password'] }}"
				id="new-password"
				name="new-password"
			/>

			<label for="new-password-conf">Confirm New Password: </label>
			<input
				type="password"
				placeholder="Confirm Password"
				value="{{ request.form['new-password-conf'] }}"
				id="new-password-conf"
				name="new-password-conf"
			/>
			<br />
			<input type="submit" value="submit" />
		</form>
	</div>
</div>
{% endblock body %}
